<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangqitie.mapper.PriceRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huangqitie.pojo.PriceRule">
        <id column="city_code" property="cityCode" />
        <result column="vehicle_type" property="vehicleType" />
        <result column="start_fare" property="startFare" />
        <result column="start_mile" property="startMile" />
        <result column="unit_price_per_mile" property="unitPricePerMile" />
        <result column="unit_price_per_minute" property="unitPricePerMinute" />
        <result column="fare_version" property="fareVersion" />
        <result column="fare_type" property="fareType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        city_code, vehicle_type, start_fare, start_mile, unit_price_per_mile, unit_price_per_minute, fare_version, fare_type
    </sql>

</mapper>
